// Colors
$grey: #333333;
$light-color: #aaaaaa;
$light-blue: #dfdffc;
$light-blue-border: #aaaaff;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$blue: #1779ba;

// Navigation colors
$hoover-background-color: #eeeeff;
$subtext-color: #999;
